/root/.bash_history
/root/.bashrc
/root/.cache/
/root/.conda/
/root/.config/
/root/.gitconfig
/root/.local/
/root/.profile
/root/.python_history
/root/.selected_editor
/root/.wget-hsts
/root/12chelsa.nc
/root/2.5chelsa.nc
/root/3chelsa.nc
/root/5chelsa.nc
/root/anaconda3/
/root/chelsa2.nc
/root/current.grib2
/root/current.grib2.923a8.idx
/root/current.nc
/root/current_.grib2.923a8.idx
/root/current_.nc
/root/current_.tif
/root/href_ubuntu.py?dl=0
/root/master.grib2.923a8.idx
/root/master.nc
/root/master.tif
/root/master_ds.nc
/root/minus_one_.nc
/root/minus_one_.tif
/root/script/
/root/test.nc
/root/test_.nc
current.nc
current_.tif
master_ds.nc
