.bash_history
.bashrc
.cache/
.conda/
.config/
.gitconfig
.local/
.profile
.python_history
.selected_editor
.wget-hsts
12chelsa.nc
2.5chelsa.nc
3chelsa.nc
5chelsa.nc
anaconda3/
chelsa2.nc
current.grib2
current.grib2.923a8.idx
current.nc
current_.grib2.923a8.idx
current_.nc
current_.tif
href_ubuntu.py?dl=0
master.grib2.923a8.idx
master.nc
master.tif
master_ds.nc
minus_one_.nc
minus_one_.tif
script/
test.nc
test_.nc
